<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
  <div class="px-6 py-4">
    {{!-- <div class="font-bold text-xl mb-2">{{playlist_name}}</div>
    <ul class="list-disc ml-6">
      <li>{{song[0]}}</li>
      <li>{{song[1]}}</li>
      <li>{{song[2]}}</li> --}}
      {{#each playlistAll as |playlist|}}
      <div>

        <h3> Test
          {{playlist.id}}
          {{playlist.playlist_name}} 
        </h3>

      </div>
      {{/each}}
      <div>
        <p> Test </p>
      </div>
    </ul>
  </div>
</div>

